# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db

# gRPC
GRPC_NETWORK=tcp
GRPC_PORT=50051
GRPC_ADDRESS=service:50051

#redis
ACCESS_SECRET=redis_secret
REFRESH_SECRET=refresh_secret